# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Scraped Data (Excel files)
*.xlsx
*.csv

# Virtual Environments
venv/
env/
.env

# OS Files
.DS_Store
Thumbs.db